footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    gap: 40px;
}