.top-bar {
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #fff;
    z-index: 1;
}
.bottom-bar {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.top-bar .nav-item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}
.bottom-bar .nav-item {
    display: flex;
    align-items: flex-start;

    cursor: pointer;

}

a {
    color: inherit;
}
a:link {
    text-decoration: none;
}
.top-bar a:hover {
    color: rgb(73, 94, 87);
}
.bottom-bar a:hover {
    color: rgb(244, 206, 20);
}
p {
    color: inherit;
    padding-bottom: 8px;
    align-self: flex-start;
}