.form-header {
    padding-bottom: 100px;
}
.reservations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-green);
    padding: 0 0 200px;
}
@media (max-width: 768px) {
    .form-header {
        text-align: center;
        width: 100%;

    }
}
