.call-to-action {
    background-color: var(--primary-green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.text {
    padding-top: 0px;
}
.image {
height: 416px;
}

h1 {
    font-family: 'Markazi Text', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: var(--white);
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h2 {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
}

h3 {
    font-family: 'Markazi Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 10px;
}

p.call-to-action-text {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    color: var(--white);
    width: 500px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.reserve-a-table {
    background-color: var(--primary-yellow);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    text-align: center;
    margin-top: 15px;
    border: none;
    font-weight: bold;
    margin-bottom: 0;
}
.reserve-a-table:hover {
    background-color: var(--accent-salmon);
    cursor: pointer;
}
@media (max-width: 786px) {
    .call-to-action {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p.call-to-action-text {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    h1 {
        text-align: center;
        width: 100%;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .text {
        padding-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .reserve-a-table {
        margin: 20px auto;
    }
    .image {
        width: 100%;
    }

}