.specials {
    display: grid;
    margin-top: 150px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    margin-bottom: 110px;
    height: fit-content;
}
.specials-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 650px;
}
.order-online {
    background-color: var(--primary-yellow);
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin: 40px 0px 40px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.order-online:hover {
    background-color: var(--accent-salmon);
    cursor: pointer;
}
.highlighted-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    height: fit-content;
}
.special-item {
    background-color: #D9D9D9;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: fit-content;
    padding-bottom: 10px;
    width: 265px;
}
.special-picture{
    height: 184px;
}
.name-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.item {
    font-weight: bold;
    font-size: 18px;
}
.price {
    font-size: 18px;
    color: var(--accent-rose);
}
.text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.order-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    gap: 10px;
    margin-bottom: 0;
}
.car {
    height: 20px;
    width: 20px;
}
.order-a-delivery {
    border: none;
    background-color: #D9D9D9;
    font-weight: bold;
    text-decoration-line: underline;
}
.order-a-delivery:hover {
    color: #495e57;
    cursor: pointer;
}
@media (max-width: 768px) {
    .highlighted-items {
        flex-direction: column;
    }
    .specials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .specials-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .order-online {
        padding: 20px;
    }
}